:root {
  --hue-value-1: 0;
  --hue-value-2: 230;
  --main-color: #2d2d2b;
  --button-hover-color: #6d7975;
  --body-bg-color: #f6f5f0;
  --border-color-2: #e0e0d7;
  --shadow: #6d7975;
  --body-gradient-bg-color-1: hsla(var(--hue-value-1), 100%, 50%, 0.2);
  --body-gradient-bg-color-2: hsla(var(--hue-value-2), 100%, 50%, 0.2);
  --decoration-bg-color-1: hsl(var(--hue-value-1), 100%, 70%);
  --decoration-bg-color-2: hsl(var(--hue-value-2), 100%, 70%);
}
