/*  ---------------------------------------------------------
<googlefont
-------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&display=swap");

/*  ---------------------------------------------------------
<
-------------------------------------------------------------*/

/*  ---------------------------------------------------------
<variable
-------------------------------------------------------------*/

:root {
  --orange: hsl(36, 80%, 50%);
  --white: hsl(0, 0%, 100%);
  --WHITE: hsl(0, 0%, 100%);
  --BLACK: hsl(0, 0%, 0%);
  --black-90: hsl(0, 0%, 10%);
  --black-70: hsl(0, 0%, 30%);
  --black-alpha-40: hsla(0, 0%, 0%, 0.4);
  --yellow-light: hsl(44, 95%, 83%);
  --green-light: hsl(158, 68%, 75%);
  --red-light: #6d7975;
  --orange-light: hsl(22, 85%, 80%);
  --select-box-bg-color: hsl(0, 0%, 100%);
  --border-color-1: hsl(0, 0%, 90%);
}
/*  ---------------------------------------------------------
< override variables for theme dark
-------------------------------------------------------------*/

/*  ---------------------------------------------------------
<base
-------------------------------------------------------------*/

body {
  background-color: var(--body-bg-color);
  font-family: "Cormorant", serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--black-70);
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--main-color);
}

img {
  max-width: 800px;
  height: 350px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-90);
  line-height: 1.3;
}

h3 {
  font-size: 20px;
}

::selection {
  color: var(--WHITE);
  background-color: var(--main-color);
}

/*  ---------------------------------------------------------
<box
-------------------------------------------------------------*/

.box {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px;
  box-shadow: var(--shadow);
  padding: 30px;
}

/*  ---------------------------------------------------------
<button
-------------------------------------------------------------*/

.btn-theme {
  background-color: var(--main-color);
  color: var(--WHITE);
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  padding: 8px 20px;
  transition: all 0.3s ease;
}

.btn-theme:hover {
  color: var(--WHITE);
  background-color: var(--button-hover-color);
}

.btn-theme:focus {
  box-shadow: 0 0 8px var(--main-color);
}

.btn-block {
  width: 100%;
}

.btn-form {
  height: 48px;
}

.btn-nav {
  height: 1px;
}

.btn-errol {
  padding-top: 65px;
}

/*  ---------------------------------------------------------
<contact form
-------------------------------------------------------------*/
.contact-item {
  position: relative;
  padding-left: 55px;
  margin-bottom: 40px;
}

.contact-item .icon-box {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: 0;
  top: 0;
  color: var(--WHITE);
}
/*  ---------------------------------------------------------
<video modal
-------------------------------------------------------------*/
.video-modal .btn-close {
  height: 35px;
  width: 35px;
  background-color: none;
  border-radius: 50%;
  opacity: 1;
  z-index: 1;
  position: absolute;
  right: 0;
  top: -35px;
  color: var(--WHITE);
  font-size: 16px;
  padding: 0;
}

.video-modal .modal-content {
  border: 0;
}

/*  ---------------------------------------------------------
<why hacktale
-------------------------------------------------------------*/

.card-text > i {
  color: var(--main-color);
  padding: 6px;
  border-radius: 50%;
  font-size: 18px;
}

.card-sec {
  padding-bottom: 30px;
}

/*  ---------------------------------------------------------
<Team
-------------------------------------------------------------*/
.profile-area {
  padding: 80px 0;
}

.card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px;
}

.img1 img {
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
}

.img2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 7px solid #fff;
  margin-top: -80px;
}

.card:hover .img2 img {
  border-color: var(--orange);
  transition: 0.7s;
}

.main-text {
  padding: 30px 0;
  text-align: center;
}

.main-text h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  margin: 0 0 20px;
}

.main-text p {
  text-align: center;
  padding-bottom: 20px;
}

.socials {
  text-align: center;
  padding-bottom: 20px;
}

.socials i {
  font-size: 20px;
  color: var(--orange);
  padding: 0 10px;
}

/*  ---------------------------------------------------------
<details section
-------------------------------------------------------------*/

.headings {
  font-size: 16px;
}

.heading-para {
  font-weight: 700;
}

/*  ---------------------------------------------------------
<subscribe section
-------------------------------------------------------------*/
.sub-input {
  border-radius: 15px;
  border: 1px solid var(--main-color);
  height: 45px;
  margin-right: 10px;
}

.sub {
  margin-bottom: 20px;
}

/*  ---------------------------------------------------------
<potential section
-------------------------------------------------------------*/
.potential-head {
  font-weight: 300;
  font-size: 40px;
  padding-bottom: 20px;
}

/*  ---------------------------------------------------------
<business value section
-------------------------------------------------------------*/
.value-img > img {
  border-radius: 0 0 265px 0;
}

.value-img1 > img {
  border-radius: 0 0 0 265px;
}

.value-icon > i {
  background-color: var(--main-color);
  color: #ffffff;
  padding: 4px;
  border-radius: 50%;
  font-size: 18px;
}

.sec-head {
  font-size: 24px;
}

.letter {
  font-size: 18px;
}

/*  ---------------------------------------------------------
<about section
-------------------------------------------------------------*/
.about-head {
  position: relative;
  line-height: 1.2em;
}

.section2 {
  margin-top: 70px;
  margin-bottom: 100px;
}

.explain1 {
  margin-top: 30px;
}

.head-core > h2 {
  display: inline;
  margin-left: 10px;
}

.explain {
  margin-top: 25px;
}

.head-core > h3 {
  display: inline;
  margin-left: 10px;
  font-size: 24px;
}

.head-core1 > div {
  display: inline;
  float: left;
  width: 300px;
}

.head-core > div {
  display: inline-block;
}

#sec {
  display: flex;
}

.head-core > i {
  color: var(--main-color);
  font-size: 32px;
  display: inline-block;
}

.core-section {
  margin-top: 60px;
}

.head-core1 > i {
  color: var(--main-color);
  font-size: 32px;
  float: left;
  margin-right: 10px;
}

.head-core {
  margin-top: 30px;
}

.about-head:before {
  position: absolute;
  left: 0;
  top: 1.5em;
  height: 0;
  width: 50px;
  content: "";
  border-top: 5px solid var(--main-color);
}

/*  ---------------------------------------------------------
<carousel
--------------------------------------------------------*/
.biz-section .carousel-control-prev,
.biz-section .carousel-control-next {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--main-color);
  display: inline-block;
  border-radius: 50%;
  margin: 10px 254px;
}
/*  ---------------------------------------------------------
<trusted by section 
-------------------------------------------------------------*/

.partner > img {
  width: 100px;
  height: 100px;
}

/*  ---------------------------------------------------------
<subscribe section
-------------------------------------------------------------*/

.subscribe {
  background-color: #b0b3a2;
}

.subs {
  padding: 50px;
}

.sub-head > h5 {
  font-size: 37px;
}

.sub-form {
  padding: 20px;
}

/*  ---------------------------------------------------------
<FAQ section
-------------------------------------------------------------*/
.faq {
  width: 100%;
  height: 100vh;
  margin-bottom: 190px;
}

.far {
  margin-bottom: 12px;
}

.accordion-item1 {
  background-color: var(--yellow-light);
  border-radius: 0.4rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.accordion-link {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link > i {
  padding: 0.5rem;
}

.accordion-link .fa-minus {
  display: none;
}

.acc .fa-minus {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: hsl(44, 90%, 72%);
  transition: max-height 650ms;
}

.answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: #ffffff;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.accordion-item1:target .answer {
  max-height: 28rem;
}

.accordion-item1:target .accordion-link .fa-plus {
  display: none;
}

.active .fa-plus {
  display: none;
}

.accordion-item1:target .accordion-link .fa-minus {
  display: block;
}

.active .fa-minus {
  display: block;
}

.acc-head {
  margin-bottom: 60px;
}

.answer p {
  font-size: 1.2rem;
  padding: 2rem;
}

.acc {
  width: 95%;
  padding: 10px 10px;
  cursor: pointer;
  background-color: var(--yellow-light);
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.acc-body {
  align-items: center;
  justify-content: center;
}

.panel {
  padding: 0 15px;
  border-left: 2px solid var(--orange);
  margin-left: 25px;
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-in;
}
/*  ---------------------------------------------------------
<card section
-------------------------------------------------------------*/

.course {
  height: 250px;
}

.course-gh {
  margin-right: 10px;
}

.potential-card {
  margin-right: 20px;
}

.course-card {
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    /*this is your grey background*/ linear-gradient(to right, #f758e1, #f19494)
      border-box;
  color: #313149;
  padding: 10px;
  border: 5px solid transparent;
  border-radius: 15px;
  display: inline-block;
}

.potential-card {
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    /*this is your grey background*/ linear-gradient(to right, #9c20aa, #fb3570)
      border-box;
  color: #313149;
  padding: 10px;
  border: 5px solid transparent;
  border-radius: 15px;
  display: inline-block;
}

.card-title {
  padding-top: 10px;
  padding-bottom: 15px;
}

.course-card:not(:last-child) {
  margin-bottom: 20px;
}

.ima {
  height: 100%;
}

/*  ---------------------------------------------------------
<fun facts
-------------------------------------------------------------*/

.fun-facts-item {
  padding: 15px 0;
}

.fun-facts-item h2 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}
.fun-facts-item p {
  margin: 0;
  text-transform: uppercase;
}

.fun-facts-item .style-1 {
  color: var(--black-70);
}
.fun-facts-item .style-2 {
  color: var(--green-light);
}
.fun-facts-item .style-3 {
  color: var(--red-light);
}
.fun-facts-item .style-4 {
  color: var(--orange-light);
}

.icon {
  display: inline;
  float: left;
  font-size: 60px;
  margin-right: 0px;
}

/*  ---------------------------------------------------------
<section - padding, title
-------------------------------------------------------------*/

.section-padding {
  padding: 60px 0;
}

.section-title {
  margin-bottom: 40px;
}

.section-title .title {
  font-size: 22px;
  color: var(--main-color);
  text-transform: capitalize;
}

.section-title .sub-title {
  font-size: 25px;
  font-weight: 600;
  color: var(--black-90);
}

/*  ---------------------------------------------------------
<course section
-------------------------------------------------------------*/

.cours-info {
  font-size: 14px;
}

.courses-item {
  margin-bottom: 30px;
  position: relative;
}

.courses-item .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.courses-item .link {
  color: var(--black-70);
  display: inline-block;
}

.courses-item .title {
  text-transform: capitalize;
  margin: 15px 0;
  transition: color 0.3s ease;
}

.courses-item:hover .title {
  color: var(--main-color);
}

.courses-item .instructor {
  text-transform: capitalize;
  margin: 0 0 12px;
}

.courses-item .instructor img {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
  height: 30px;
}

.courses-item .rating {
  font-size: 14px;
}

.courses-item .average-rating {
  font-weight: 600;
  color: var(--orange);
}

.courses-item .average-stars i {
  color: var(--orange);
}

.courses-item .price {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: var(--main-color);
  color: var(--WHITE);
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 4px;
}

/*  ---------------------------------------------------------
<header
-------------------------------------------------------------*/
.header {
  border-bottom: 1px solid var(--border-color-2);
}

.logo {
  height: 50px;
  padding-top: 10px;
}

.header-logo a {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--black-70);
}

.header-logo span {
  color: var(--main-color);
}

.menu-item {
  display: inline-block;
  margin-right: 40px;
  position: relative;
}
.menu-item > a {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  color: var(--black-90);
  text-transform: capitalize;
  transition: color 0.1s ease;
}

.header .sub-menu-item a:hover,
.header .menu-item:hover > a {
  color: var(--main-color);
}

.header .menu-item a i > {
  font-size: 13px;
  margin-left: 3px;
  pointer-events: none;
  transition: transform 0.3s ease;
}

.menu-item-btn {
  display: inline-block;
  margin-right: 40px;
  position: relative;
}
.menu-item-btn > a {
  display: block;

  font-weight: 400;
  color: var(--WHITE);
  text-transform: capitalize;
  transition: color 0.1s ease;
}

.header .sub-menu {
  position: absolute;
  top: 100%;
  background-color: var(--white);
  left: 0;
  width: 210px;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: var(--shadow);
  transition: all 0.3s ease;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
}
@media (min-width: 992px) {
  .menu-item:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.sub-menu a {
  display: block;
  padding: 10px 20px;
  color: var(--black-90);
  text-transform: capitalize;
  font-weight: 400;
  transition: color 0.3s ease;
}

.header-backdrop,
.header-close-btn,
.header-hamburger-btn {
  display: none;
}

/*  ---------------------------------------------------------
<course header
-------------------------------------------------------------*/

.course-header h2 {
  font-size: 30px;
  margin: 0 0 15px;
  font-weight: 600px;
}
.course-header .average-rating {
  font-weight: 600;
  color: var(--orange);
}
.course-header .average-stars i {
  font-size: 14px;
  color: var(--orange);
}
.course-header .rating span {
  vertical-align: middle;
}
.course-header ul li {
  margin: 6px 0 0;
  text-transform: capitalize;
}
.course-header ul li span {
  margin-left: 5px;
}

/*  ---------------------------------------------------------
<course tabs
-------------------------------------------------------------*/

.course-tabs {
  margin: 30px 0 20px;
}

.course-tabs .nav-link {
  margin: 0 10px 10px 0;
}

/*  ---------------------------------------------------------
< course curriculum
-------------------------------------------------------------*/

.course-curriculum .accordion-item {
  border-color: var(--border-color-1);
  background-color: transparent;
}

.course-curriculum .accordion-button {
  background-color: transparent;
  color: var(--black-90);
  font-weight: 300;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 160px;
  line-height: 1.5;
}

.course-curriculum .accordion-button span {
  position: absolute;
  right: 17px;
  font-size: 14px;
}

.course-curriculum .accordion-button::after {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background-image: none;
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  width: auto;
  line-height: 1;
}

.course-curriculum .accordion-button:focus {
  box-shadow: none;
}

.course-curriculum .accordion-button:not(.collapsed) span {
  font-weight: 500;
}
.course-curriculum .accordion-button:not(.collapsed)::after {
  transform: translateY(-50%) rotate(-180deg);
}
.course-curriculum .accordion-button:not(.collapsed) {
  font-weight: 600;
  border-bottom: 1px solid var(--border-color-1);
  transition: none;
  box-shadow: none;
}
.course-curriculum ul li {
  position: relative;
  padding: 0 50px 20px;
}

.course-curriculum ul li span {
  position: absolute;
  font-size: 14px;
  right: 0;
  top: 0;
}

.course-curriculum ul li i:not(:last-child) {
  margin-bottom: 10px;
}

.course-curriculum ul li i {
  position: absolute;
  left: 0;
  top: 6px;
  color: var(--black-70);
  font-size: 12px;
}

/*  ---------------------------------------------------------
<course description
-------------------------------------------------------------*/
.course-description h4 {
  font-size: 16px;
}

/*  ---------------------------------------------------------
<about section
-------------------------------------------------------------*/
.section-about {
  padding-left: 100px;
  margin-bottom: 160px;
  width: 100%;
  height: 100vh;
}

.image-section > img {
  width: 500px;
  height: 400px;
  padding-left: 30px;
}

.facebook {
  margin-right: 12px;
}

.twitter {
  margin-right: 12px;
}

/*  ---------------------------------------------------------
<course instructor
-------------------------------------------------------------*/

.img {
  height: 128px;
}

.course-instructor .img-box img {
  max-width: 128px;
  margin-bottom: 15px;
}

.course-instructor h4 {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.course-instructor h4 span {
  font-weight: 300;
}

.course-instructor ul li i {
  color: var(--main-color);
  margin-right: 5px;
}

.course-instructor ul li:not(:last-child) {
  margin-bottom: 5px;
}

/*  ---------------------------------------------------------
<course review
-------------------------------------------------------------*/

.rating-summary .average-rating {
  font-size: 40px;
  font-weight: 700;
  color: var(--black-90);
}

.rating-summary .average-stars i {
  color: var(--orange);
}

.rating-summary .rating-bars-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.rating-summary .progress {
  height: 8px;
  background-color: var(--border-color-2);
  width: calc(100% - 120px);
  margin-right: 20px;
  border-radius: 0;
}

.img-review {
  height: 60px;
  width: 60px;
}

.rating-summary .progress-bar {
  background-color: var(--main-color);
}

.rating-summary .star-text {
  min-width: 60px;
  color: var(--orange);
}

.review-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 65px;
}

.review-item .img-box {
  max-width: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.review-item h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 5px;
  color: var(--black-90);
}

.review-item .stars-rating i {
  color: var(--orange);
  font-size: 14px;
}

.review-item .stars-rating .date {
  margin-left: 5px;
  font-size: 14px;
  display: inline-block;
}

.review-item p {
  margin: 5px 0 0;
}

.review-filter {
  margin: 0 0 35px;
  width: 200px;
}

/*  ---------------------------------------------------------
<forms
-------------------------------------------------------------*/

.form-title {
  font-size: 24px;
  margin: 0 0 30px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 25px;
  position: relative;
}

.form-group {
  margin-bottom: 25px;
  position: relative;
}

.form-control {
  height: 40px;
  border-color: var(--border-color-2);
  color: var(--black-90);
  background-color: transparent;
}

.form-control:focus {
  background-color: transparent;
  border-color: var(--border-color-1);
  color: var(--black-90);
  box-shadow: none;
}

.select-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 13px;
}

select.form-control:focus option {
  background-color: var(--select-box-bg-color);
}

textarea.form-control {
  height: 120px;
  resize: none;
}

/*  ---------------------------------------------------------
< courses sidebar
-------------------------------------------------------------*/
.course-sidebar .img-box {
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.course-sidebar .img-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black-alpha-40);
}

.course-sidebar .img-box .play-icon {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--WHITE);
}

.course-sidebar .img-box {
  position: absolute;
  color: var(--WHITE);
  top: calc(50% + 40px);
  font-weight: 500;
  width: 100%;
}

.course-sidebar .price span {
  margin-right: 8px;
}

.course-sidebar .price-now {
  font-size: 30px;
  font-weight: 700;
  color: var(--black-90);
}

.course-sidebar .price-discount {
  color: var(--main-color);
}

.course-sidebar .features-list {
  margin: 0 0 20px;
}

.course-sidebar .features-list li {
  position: relative;
  padding-left: 21px;
  margin-bottom: 8px;
}

.course-sidebar .features-list li::before {
  content: "";
  height: 6px;
  width: 6px;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  top: 9px;
  border-radius: 50%;
}

/*  ---------------------------------------------------------
<banner section
-------------------------------------------------------------*/

.banner-section {
  padding: 80px 0;
  min-height: 380px;
}

.banner-section2 {
  padding: 80px 0;
  min-height: 380px;
}

.banner-section3 {
  padding: 80px 0;
  min-width: 380px;
}

.banner-text h2 {
  font-size: 23px;
  color: var(--main-color);
}

.banner-text h1 {
  font-size: 44px;
  font-weight: 700;
}

.banner-text1 {
  color: var(--main-color);
}

.banner-section .circular-img-circle {
  background-color: var(--red-light);
}

/*  ---------------------------------------------------------
<bootstrap classes
-------------------------------------------------------------*/

.container {
  --bs-gutter-x: 15px;
  max-width: 1140px;
}

.row {
  --bs-gutter-x: 30px;
}

/*  ---------------------------------------------------------
<circular image
-------------------------------------------------------------*/
.circular-img {
  max-width: 460px;
  margin: auto;
  position: relative;
  z-index: 1;
}

.headimg {
  width: 460px;
  height: 460px;
}

.circular-img-inner {
  text-align: center;
  border-radius: 0 0 300px 300px;
  overflow: hidden;
}

.circular-img-inner1 {
  text-align: center;
  border-radius: 0 0 180px 0;
  overflow: hidden;
  box-shadow: 10px 15px var(--main-color);
}

.circular-img-circle {
  height: 320px;
  width: 320px;
  position: absolute;
  left: 70px;
  bottom: 0;
  border-radius: 50%;
}

.circular-img img {
  position: relative;
  z-index: 1;
}

/*  ---------------------------------------------------------
<testimonial
-------------------------------------------------------------*/

.testimonial-section .img-box {
  height: 150px;
  width: 150px;
  background-color: var(--red-light);
  margin: 30px auto 50px;
}

.testimonial-section .img-box > img {
  height: 150px;
  width: 150px;
}

.testimonial-section .img-box::before {
  height: 18 0px;
  width: 180px;
  left: -15px;
  top: -15px;
  border-left: 1px solid transparent;
}

.testimonial-section .img-box::after {
  height: 210px;
  width: 210px;
  left: -30px;
  top: -30 px;
  border-left: 1px solid transparent;
}

.testimonial-item h3 {
  text-transform: capitalize;
}

.testimonial-item .text-2 {
  margin: 0;
  text-transform: capitalize;
}

.testimonial-section .carousel-control-prev,
.testimonial-section .carousel-control-next {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--main-color);
  display: inline-block;
  border-radius: 50%;
  margin: 0 4px;
}

/*  ---------------------------------------------------------
<pagination
-------------------------------------------------------------*/
.page-item.disabled .page-link,
.page-link {
  border: none;
  background-color: transparent;
  color: var(--black-70);
}

.page-item.active .page-link {
  background-color: var(--main-color);
}

.page-link:hover {
  background-color: var(--main-color);
  color: var(--WHITE);
}

/*  ---------------------------------------------------------
<tabs
-------------------------------------------------------------*/
.nav-tabs .nav-link {
  background-color: var(--white);
  text-transform: capitalize;
  border-color: var(--border-color-2);
  padding: 5px 12px;
  margin: 0 5px 10px;
  border-radius: 5px;
  color: var(--black-70);
  font-size: 16px;
}

.nav-tabs .nav-link.active {
  background-color: var(--main-color);
  border-color: transparent;
  color: var(--WHITE);
}

.nav-tabs .nav-link:hover {
  border-color: var(--border-color-2);
}

/*  ---------------------------------------------------------
<breadcrumbs
-------------------------------------------------------------*/
.breadcrumb-nav {
  padding: 10px 0;
}

.breadcrumb-nav .breadcrumb-item {
  font-size: 14px;
  text-transform: capitalize;
}

.breadcrumb-nav .breadcrumb-item + .breadcrumb-item::before,
.breadcrumb-navn .breadcrumb-item:active {
  color: var(--black-70);
}

/*  ---------------------------------------------------------
<footer
-------------------------------------------------------------*/
.footer {
  padding: 50px 0 20px;
  border-top: 1px solid var(--border-color-2);
}

.footer-logo {
  height: 50px;
}

.footer-item {
  margin: 0 0 30px;
}

.footer-item h3 {
  text-transform: capitalize;
  margin: 0 0 20px;
}

.footer-item .footer-logo {
  color: var(--black-70);
  text-transform: uppercase;
}

.footer-item .footer-logo span {
  color: var(--main-color);
}

.footer-item ul li:not(:last-child) {
  margin-bottom: 8px;
}

.footer-item ul a {
  text-transform: capitalize;
  color: var(--black-70);
  transition: color 0.3s ease;
  position: relative;
}

.footer-item ul a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}

.footer-item ul a:hover {
  color: var(--main-color);
}

.footer-item ul a:hover::before {
  width: 100%;
}

.footer-item ul a .social-icon {
  margin-right: 5px;
}

.footer-bottom {
  border-top: 1px solid var(--border-color-2);
}

.footer-bottom p {
  font-size: 14px;
}

/*  ---------------------------------------------------------
<animtion
-------------------------------------------------------------*/

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
